#Name{
    position: relative;
    top: 25px;
    left: 175px;
}

#Name2{
    position: relative;
    top: 75px;
    left: 175px;
}

.image1{
    position: relative;
    left: 900px;
    bottom: 60px;
    height: 200px;
    width: 200px;

}
#projectlistH{
    position: relative;
    left: 175px;
    bottom: 80px;
}

#list{
    position: relative;
    left: 150px;
    bottom: 80px;
}

#skillslistH{
    position: absolute;
    left: 185px;
    bottom: .5px;

}

#skillslist{
    position: absolute;
    left:158px;
    bottom: 15px;
    top: 540px;
}
